/*Reset CSS from Eric Meyer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*{
    margin:0;
    padding:0;
}
/*End reset CSS*/

/******************************************************************************************************/

header{
    display: flex;
    justify-content: center;
}

.logo{
height: 93px;
width: 268px;
}

main{
  width:80%;
  margin: 50px auto 0;
}

.mainSearchZone{
  display: flex;  
  flex-direction: row; 
  align-items: stretch;
  justify-content: flex-start;   
  margin-top: 45px;      
  margin-bottom: 45px; 
}

.mainSearch{
  width: 1240px;
  height: 69px;
  padding-left: 15px;
  font-family:"Raleway-Bold", Arial, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  border: none;
  background-color:red;
  border-radius: 15px 0 0 15px;
}

#searchicon{
  display: block;
  width: 60px;
  background-color:#0065FC;
  color: white;
  cursor: pointer; 
  border:none;
  border-radius: 0 15px 15px 0;
}
     
/* @media only screen and (max-width:1050px){  
    #mainSearch{
        width: 20%;
    }
} */
